@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    font-family: 'Poppins', sans-serif;
}

html{
    font-size: 62.5%;
}

body{
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
    background-color: black;
    color: white;
}

header{
    margin-top: 20px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1rem 9%;
    background-color: transparent;
    filter: drop-shadow(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo{
    font-size: 3rem;
    color: #b74b4b;
    font-weight: 800;
    cursor: pointer;
    transition: 0.5s ease;
}

.logo:hover{
    transform: scale(1.1);
}

/* ---------------- NAV LINKS (DESKTOP) ---------------- */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 20px 50px;
}

nav ul {
    display: flex;
    align-items: center;
    gap: 3rem;          /* keeps equal spacing */
    flex-wrap: nowrap;  /* IMPORTANT: prevents Contact going to next line */
}

nav a {
    font-size: 1.8rem;
    color: white;
    font-weight: 500;
    transition: 0.3s ease;
    border-bottom: 3px solid transparent;
    margin-left: 0;     /* FIX: removed huge margin that caused line break */
}

nav a:hover,
nav a.active {
    color: #b74b4b;
    border-bottom: 3px solid #b74b4b;
}

/* ---------------- NAV (MOBILE) ---------------- */
@media(max-width:995px){
    nav {
        position: absolute;
        display: none;
        top: 0;
        right: 0;
        width: 40%;
        border-left: 3px solid #b74b4b;
        border-bottom: 3px solid #b74b4b;
        border-bottom-left-radius: 2rem;
        padding: 20px 20px;
        background-color: #161616;
        border-top: 0.1rem solid rgba(0,0,0,0.1);
        flex-direction: column;
    }

    nav.active {
        display: block;
    }

    nav ul {
        flex-direction: column;
        gap: 2rem;
    }

    nav a {
        display: block;
        font-size: 2rem;
        margin: 1rem 0;
    }

    nav a:hover,
    nav a.active {
        padding: 1rem;
        border-radius: 0.5rem;
        border: 0.2rem solid #b74b4b;
    }
}



section{
    min-height: 100vh;
    padding: 5rem 9% 5rem;
}

.home{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8rem;
    background-color: black;
}

.home .home-content h1{
    font-size: 6rem;
    font-weight: 700;
    line-height: 1.3;
}

span{
    color: #b74b4b;
}

.home-content h3{
    font-size: 4rem;
    margin-bottom: 1rem;
    font-weight: 700;
}

.home-content p{
    font-size: 1.6rem;
}

.home-img{
    border-radius: 50%;
}

.home-img img{
    position: relative;
    width: 32vw;
    border-radius: 50%;
    box-shadow: 0 0 25px solid #b74b4b;
    cursor: pointer;
    transition: 0.2s linear;
}

.home-img img:hover{
    font-size: 1.8rem;
    font-weight: 500;
}

.social-icons a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background-color: transparent;
    border: 0.2rem solid #b74b4b;
    font-size: 2rem;
    border-radius: 50%;
    margin: 3rem 1.5rem 3rem 0;
    transition: 0.3s ease;
    color: #b74b4b;
}

.social-icons a:hover{
    color: black;
    transform: scale(1.3) translateY(-5px);
    background-color: #b74b4b;
    box-shadow: 0  0 25px #b74b4b;
}

.btn{
    display: inline-block;
    padding: 1rem 2.8rem;
    background-color: black;
    border-radius: 4rem;
    font-size: 1.6rem;
    color: #b74b4b;
    letter-spacing: 0.3rem;
    font-weight: 600;
    border: 2px solid #b74b4b;
    transition: 0.3s ease;
    cursor: pointer;
}

.btn:hover{
    transform: scale3d(1.03);
    background-color: #b74b4b;
    color: black;
    box-shadow: 0 0 25px #b74b4b;
}

.typing-text{
    font-size: 34px;
    font-weight: 600;
    min-width: 280px;
}

.typing-text span{
    position: relative;
}

.typing-text span::before{
    content: "software Developer";
    color: #b74b4b;
    animation: words 20s infinite;
}

.typing-text span::after{
    content: "";
    background-color: black;
    position: absolute;
    width: calc(100% + 8px);
    height: 100%;
    border-left: 3px solid black;
    right: -8;
    animation: cursor 0.6s infinite;
}

@keyframes cursor{
    to{
        border-left: 3px solid #b74b4b;
    }
}

@keyframes words{
    0%, 20%{
        content: "CSE Student";
    }
    21%, 40%{
        content: "Developer";
    }
    41%, 60%{
        content: "Python Developer";
    }
    61%, 80%{
        content: "Web developer";
    }
    81%, 100%{
        content: "AI Enthusiast";
    }
}

@media (max-width: 1000px){
    .home{
        gap: 4rem;
    }
}

@media(max-width:995px){
    .home{
        flex-direction: column;
        margin: 5rem 4rem;
    }

    .home .home-content h3{
        font-size: 2.5rem;
    }

    .home-content h1{
        font-size: 5rem;
    }

    .home-img img{
        width: 70vw;
        margin-top: 4rem;
    }
}
.education-page {
    padding: 100px 10%;
    color: white;
}

.page-title {
    font-size: 50px;
    margin-bottom: 40px;
}

.page-title span {
    color: #ff4d4d;
}

.edu-box {
    background: #111;
    padding: 20px;
    margin: 20px 0;
    border-left: 4px solid #ff4d4d;
    border-radius: 10px;
    transition: 0.3s ease;   /* smooth animation */
}

/* Hover effect */
.edu-box:hover {
    transform: translateY(-5px);   /* small upward move */
    box-shadow: 0 8px 20px rgba(255, 77, 77, 0.3); /* soft glow */
}

html {
    scroll-behavior: smooth;
}
.skills-section {
    padding: 60px;
    color: white;
}

.page-title {
    font-size: 40px;
    margin-bottom: 40px;
}

.skills-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.skill-box {
    background: #111;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 8px 20px rgba(255, 77, 77, 0.3); /* soft glow */
    
}

.skill-box p {
    display: flex;
    justify-content: space-between;
    font-size: 18px;
}

.percent {
    color: #00eaff;
    font-weight: bold;
}

.progress {
    margin-top: 10px;
    width: 100%;
    height: 12px;
    background: #333;
    border-radius: 20px;
    overflow: hidden;
}

.progress-bar {
    height: 100%;
    width: 0;
    background: linear-gradient(90deg, red, #ff5757);
    border-radius: 20px;
    transition: width 1.8s ease-in-out;
}

/* Responsive */
@media(max-width: 820px) {
    .skills-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media(max-width: 500px) {
    .skills-grid {
        grid-template-columns: repeat(1, 1fr);
    }
}
.experience {
    padding: 60px 10%;
    color: #fff;
    background: #000;
}

.experience-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 30px;
}

.experience-card {
    background: #111;
    padding: 20px;
    border-radius: 10px;
    border-left: 4px solid #ff4b4b;
    transition: 0.3s ease;
}

.experience-card:hover {
    background: #1a1a1a;
    transform: translateX(5px);
    box-shadow: 0 8px 20px rgba(255, 77, 77, 0.3); /* soft glow */

}

.experience-card h3 {
    margin: 0;
    font-size: 22px;
    font-weight: 600;
}

.duration {
    color: #ff4b4b;
    font-size: 14px;
    margin: 5px 0 10px;
}

.desc {
    font-size: 15px;
    line-height: 1.5;
}
.achievements {
    padding: 60px 10%;
    background: #000;
    color: #fff;
}

.achievements-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 20px;
    margin-top: 30px;
}

.achievement-card {
    background: #111;
    padding: 20px;
    border-left: 4px solid #ff4b4b;
    border-radius: 10px;
    transition: 0.3s ease;
}

.achievement-card:hover {
    background: #1a1a1a;
    transform: translateY(-5px);
    box-shadow: 0 8px 20px rgba(255, 77, 77, 0.3); /* soft glow */

}

.achievement-card h3 {
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: 600;
}

.achievement-card .desc {
    font-size: 14px;
    line-height: 1.4;
    color: #ddd;
}
.projects {
    padding: 60px 20px;
}

.projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 25px;
    margin-top: 30px;
}

.project-card {
    background: #111;
    padding: 20px;
    border-radius: 12px;
    border-left: 4px solid #ff4d4d;
    transition: 0.3s ease;
}

.project-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 20px rgba(255, 77, 77, 0.3);
}

.project-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 15px;
}

.project-card h2 {
    color: #ff4d4d;
    margin-bottom: 10px;
}

.contact {
    padding: 60px 10%;
    background: #000;
    color: #fff;
}

.contact-container {
    display: flex;
    gap: 30px;
    margin-top: 40px;
    flex-wrap: wrap;
}

.contact-card {
    background: #111;
    padding: 25px;
    border-radius: 12px;
    border-left: 4px solid #ff4b4b;
    width: 300px;
    transition: 0.3s ease;
}

.contact-card:hover {
    background: #1a1a1a;
    transform: translateY(-5px);
    box-shadow: 0 8px 20px rgba(255, 77, 77, 0.3); /* soft glow */

}

.contact-icon {
    font-size: 35px;
    color: #ff4b4b;
    margin-bottom: 15px;
}

.contact-card h3 {
    margin-bottom: 5px;
}

.contact-card p {
    font-size: 15px;
    color: #ddd;
}

